   
     
<div class="footer"><h2 id="foot">&copy Copyright The Blog</h2>

    <ul>
        <li><a href="">Careers</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>





</div>
</head>
</html>