<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/53eac427de.js" crossorigin="anonymous"></script>
    </head>
    <body>
                <div class="header"><h1 id="head"><i class="fas fa-th-large"></i>  The Blog</h1>
                    
                    <div class="nav">

                           <a href="/">Home</a>
                           <a href="/about">About</a>
                           <a href="/contact">Contact</a>
                           <a href="/compose">Compose</a>
                           
                       
                       
                        
                      
                    </div>
                </div>

  