<%title = "The Blog Center | Compose" %>

<%- include('partials/header.ejs')%>

<div class="container">
   

        <div class="form">
           

            <form action="/compose" method="POST" class="form">
                <h3>COMPOSE</h3>
        
                <p> 
                    <label>Title</label>  <br> 
                    <input type="text" name="postTitle" id="">
                </p>
    
                <p> 
                    <label>Post </label> <br>
                    <textarea name="postBody" cols="30" rows="10" id="post" placeholder="type your comments here"></textarea>
                </p>
                <p>Name: <br> <input type="text" name="fname" id=""></p>
    
                <button type="submit" name="button" class="button">Publish</button>

        </div>
            
           


    </form>
    </div>

<%- include('partials/footer.ejs') %>